.home{
     .collection{
          margin-top: 80px;

          .info{
               text-align: center;
               padding-bottom: 10px;
               .subheading{
                    margin-top: 10px;
               }
          }
          .content{
               display: flex;
               justify-content: center;
               flex-wrap: wrap;
               align-items: center;
               column-gap: 20px;
               row-gap: 40px;
               margin-top: 20px;
          }
     }
}